<%- include('../layouts/header') %>

<div class="row mt-4">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-header bg-dark text-white text-center">
        Sign Up
      </div>

      <form method="POST" action="/auth/signup">
        <div class="card-body">

          <%- include('../layouts/form-errors') %>

          <div class="form-group">
            <label for="username">Username</label>
            <input
              id="username"
              type="text"
              name="username"
              class="form-control"
              required
              value="<%= (typeof user !== 'undefined' && user && user.username) ? user.username : '' %>"
            >
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              type="email"
              name="email"
              class="form-control"
              required
              value="<%= (typeof user !== 'undefined' && user && user.email) ? user.email : '' %>"
            >
          </div>

          <div class="form-group">
            <label for="password">Password (minimum 8 characters)</label>
            <input
              id="password"
              type="password"
              name="password"
              class="form-control"
              required
              minlength="8"
              autocomplete="new-password"
            >
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input
              id="passwordConfirmation"
              type="password"
              name="passwordConfirmation"
              class="form-control"
              required
              minlength="8"
              autocomplete="new-password"
            >
          </div>

        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <span class="float-right">
            Already a member? <a href="/auth/login">Log In</a>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
